body{
	background:white;
	font-family:arial;
	margin:0;
}

h1,h2,li{
	color:#555;
}


p{
	background:#888;
	color:white;
	padding:25px 5px 60px 15px;
}

.cats {
	background:#666;
	padding:60px 5px 25px 40px;
}

#boats_n_hoes {
	background:#222;
}

header{
	background:#888;
}

header h3{
	margin:1;
	display:inline;
	padding:10px 20px;
}

nav ul{
	margin:0;
	display:inline;
	padding:0 15px 0 0;
}

nav ul li{
	margin: 0;
	background:#444;
	color:white;
	display: inline-block;
	list-style-type:none;
	padding:8px 12px;
	margin:0;

}

nav ul li a{
	color:yellow;
}

.row:after{
	clear:both;
}

.col{
	float:left;
	border-radius:5px;
	padding:.5%;
	background:#888;
	margin:.5%;
	width:31%;
}

footer{

	clear:both;
}
