.matchup_buttons_container{
    position: relative;
    margin: 0 auto;
    width: 1080px;
    height: 40px; 
}

.display_container{
    position: relative;
    margin: 0 auto;
    width: 1080px;
    height: 720px; 
}

.display_container img{
    position: relative;
    width:100%;
}



.division_container{
    position: absolute;
    margin:0 auto;
    padding:3px 0 0 0;
    width:198px;
    height:34px;
    color: white;
    font-size: 29px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.catagories_container{
    position: absolute;
    margin:0 auto;
    padding:10px 0 0 0;
    width:87px;
    height:41px;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.teamname_container{
    position: absolute;
    margin:0 auto;
    padding:5px 0 0 0;
    width:190px;
    height:34px;
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.title_container{
    position: absolute;
    margin:0 auto;
    padding:6px 0 0 0;
    width:570px;
    height:47px;
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.stat_container{
    position: absolute;
    margin:0 auto;
    padding:4px 0 0 0;
    width:87px;
    height:34px;
    font-size: 26px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}